<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form action="@(Url.Action("pay"))" method="post">
    <button type="submit">Test Payment</button>
</form>
